
body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    background-color: rgb(245, 243, 243);
    
}

h1 {
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #6e6e6e;
}
a {
    text-decoration: none;
    color: black;
    
}




